# Python
__pycache__/
*.py[cod]
*.sqlite3
venv/
.env
media/
staticfiles/

# Django
backend/staticfiles/*
!backend/staticfiles/.gitkeep

# Node
node_modules/
frontend/dist/*
!frontend/dist/.gitkeep

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db