DJANGO_SETTINGS_MODULE=cloud_storage.settings.dev
SECRET_KEY=local-dev-secret
DEBUG=True

ALLOWED_HOSTS=127.0.0.1,localhost

DB_NAME=gw_cloud_storage
DB_USER=postgres
DB_PASSWORD=geonav
DB_HOST=127.0.0.1
DB_PORT=5432

CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

FILE_STORAGE_ROOT=media/user_files

DEFAULT_ADMIN_USERNAME=admin
DEFAULT_ADMIN_FULL_NAME=System Administrator
DEFAULT_ADMIN_EMAIL=sadliy.v@gmail.com
DEFAULT_ADMIN_PASSWORD=Admin123!